

* {
  box-sizing: border-box;
}

body {
  color: #555;
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.25;
  padding: 2em 1em;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  overflow-x: hidden;
  white-space:nowrap;
  background: #c8c8c8;
  padding: 25px 20px;
  transition: all 0.4s ease;
}
.sidebar:hover {
  width: 200px;
}

.sidebar2 {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 85px;
  overflow-x: hidden;
  background: #c8c8c8;
  padding: 25px 20px;
  transition: all 0.4s ease;
}
.sidebar2:hover {
  width: 200px;
}



h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

h2, h3 {
  margin-top: 0.75em;
}

h1, h2, strong {
  color: #333;
}

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #bbb;
  padding: 1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #038cfc;
}

blockquote, q {
  border-left: solid 4px #bbb;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

tr:nth-child(even) {
  background: #f5f5f5;
  background: #transparent;
}

tr:hover {
  background: #aed9fc;
}

